<section id="aboutMe" class="aboutMe">
    <app-typewriter text="Das ist ein test Text"></app-typewriter>
    <p>Hey, ich bin Andre Salwig, komme aus Dortmund und bin dualer Informatikstudent an der Fachhochschule Dortmund und arbeite parallel als Softwareentwickler bei der Signal Iduna Gruppe. In meinem Tech-Stack dreht sich vieles um Spring Boot, speziell Spring Data JPA und Spring Web, kombiniert mit Angular fürs Frontend. Ich baue gerne eigenständige kleine bis mittlere Services und mag es, Dinge einfach und klar zu halten.
    Mit Tools wie Git, Bitbucket, Jira, Jenkins, Docker und OpenShift bin ich täglich unterwegs. Der SaaS-Gedanke begeistert mich dabei besonders.
    Abseits vom Bildschirm leite ich als Supervisor im Superfly Dortmund ein Team, hier sammle ich täglich wertvolle Erfahrungen in Kommunikation, Führung und kundenorientiertem Denken. </p>
</section>