<mat-toolbar class="navBar">
  <span class="me">Andre Salwig</span>
  <div class="socialMedia">
    <a href="https://github.com/AndreSalwig">GitHub</a>
    <a href="https://www.linkedin.com/in/andre-salwig-098678371/">LinkedIn</a>
    <a href="#aboutMe">Über mich</a>
    <a href="#lebenslauf">Lebenslauf</a>
    <a href="#kontakt">Kontakt</a>
  </div>
  <div class="burgerMenue">
    <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

