.navBar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    position: fixed;
    z-index: 1000;
    height: 8vh;
}

.me {
    color: white;
    cursor: default;
}

/* Neuer Wrapper für rechts */
.rightSection {
    display: flex;
    align-items: center;
}

/* Icons links von den Menüpunkten mit 2rem Abstand */
.images {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: 0.5rem;
}

.images img {
    height: 35px;
}

.socialMedia {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.socialMedia * {
    color: white;
    font-size: medium;
    text-decoration: none;
}

.burgerMenue {
    display: none;
}

/* RESPONSIVE: Trenne images & socialMedia */
@media (max-width: 950px) {
    .rightSection {
        flex-direction: column;
        align-items: center;
    }

    .burgerMenue {
        display: block;
    }

    .menueItem {
        display: none;
    }
}
