<mat-toolbar class="navBar">
  <span >
    <a class="me" href="#home">Andre Salwig</a>
  </span>

  <div class="rightSection">
    <div class="images">
      <a href="https://github.com/AndreSalwig"><img src="github-48.png" /></a>
      <a href="https://www.linkedin.com/in/andre-salwig-098678371/"><img src="linkedin-50.png" /></a>
    </div>
    <div class="socialMedia">
      <a class="menueItem" href="#aboutMe">Über mich</a>
      <a class="menueItem" href="#lebenslauf">Lebenslauf</a>
      <a class="menueItem" href="#kontakt">Kontakt</a>
    </div>
  </div>

  <div class="burgerMenue">
    <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
