.navBar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw 0vw 5vw;
    position: fixed;
    z-index: 1000;
}

.me{
    color: white;
}

.socialMedia{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.socialMedia *{
    color: white;
    font-size: medium;
    text-decoration: none;
}

.burgerMenue{
    display: none;
}
@media (max-width: 950px) {
    .burgerMenue{
        display: block;
    }
    .socialMedia{
        display: none;
    }
}