<div class="timeline">
  <div class="timeline-item left">
    <div class="content">
      <h3>2020 - heute</h3>
      <p>Softwareentwickler bei Signal Iduna</p>
    </div>
  </div>

  <div class="timeline-item right">
    <div class="content">
      <h3>2019 - heute</h3>
      <p>Duales Studium Informatik an der FH Dortmund</p>
    </div>
  </div>

  <div class="timeline-item left">
    <div class="content">
      <h3>2018 - heute</h3>
      <p>Supervisor im Superfly Dortmund</p>
    </div>
  </div>
</div>

