<div id="lebenslauf" class="timeline">
  <div class="timeline-item left">
    <div class="content">
      <h3>Juli 2022 - Heute</h3>
      <p>Duales Studium Informatik an der FH Dortmund</p>
    </div>
  </div>

  <div class="timeline-item right">
    <div class="content">
      <h3>Juli 2022 - Juli 2025</h3>
      <p>Ausbildung bei der SIGNAL IDUNA zum <br> Fachinformatiker für Anwendungsentwicklung</p>
    </div>
  </div>

  <div class="timeline-item left">
    <div class="content">
      <h3>Mai 2020 - Heute</h3>
      <p>Supervisor/Schichtleitung im Superfly Dortmund <br> 2020 - 2022 in Vollzeit <br> 2022 - Heute als Minijob</p>
    </div>
  </div>

  <div class="timeline-item right">
    <div class="content">
      <h3>September 2016 - März 2020</h3>
      <p>Studium Mechatronik an der FH Bochum <br> Coronabedingt abgebrochen</p>
    </div>
  </div>

  <div class="timeline-item left">
    <div class="content">
      <h3>August 2013 - Juni 2016</h3>
      <p>Fachabitur mit der Vertiefung Elektrotechnik am <br> Max Born Berufskolleg in Recklinghausen </p>
    </div>
  </div>
</div>

